<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 10px;"></div>
        <div class="col-md-2">
            <select class="browser-default custom-select" [(ngModel)]="month" name="month">
                <option *ngFor="let month of months; " value="{{month.id}}">{{month.name}}</option>
            </select>
            <div class="col-md-12" style="height: 10px;"></div>
            <select class="browser-default custom-select" [(ngModel)]="year" name="buyer" [disabled]="!isAdmin">
                <option *ngFor="let year of years; " value="{{year.id}}">{{year.name}}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="check()">
                Скачать счет
            </button>
            <button type="button" class="btn btn-primary" (click)="history()">
                Посмотреть историю
            </button>
        </div>
        <div class="col-md-10" [hidden]="!isHystory">
            <div class="Content">
                <div class="row" *ngFor="let order of orders">
                    <button type="button" class="btn btn-outline-primary"
                        style="height: 95%; width: 100%;" (click)="order.hidden = !order.hidden">
                        <div class="row">
                            <div class="col-md-4">
                                <div>Дата: {{order.date}}</div>
                            </div>
                            <div class="col-md-4">
                                <div>Покупатель: {{order.buyer}}</div>
                            </div>
                            <div class="col-md-4">
                                <div>Суммарная стоимость: {{order.totalPrice}} </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary" style="height: 95%; width: 100%;"
                            [hidden]=order.hidden *ngFor="let item of order.items">
                            <div class="row">
                                <div class="col-md-3">
                                    <div>Продавец: {{item.customerName}}</div>
                                </div>
                                <div class="col-md-3">
                                    <div>Товар: {{item.offeringName}}</div>
                                </div>
                                <div class="col-md-3">
                                    <div>Количество: {{item.count}} </div>
                                </div>
                                <div class="col-md-3">
                                    <div>Цена за штуку: {{item.offeringPrice}} </div>
                                </div>
                            </div>
                        </button>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-10" [hidden]="isHystory">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="col" class="col-md">Продавец</th>
                        <th scope="col" class="col-md">Стоимость</th>
                    </tr>
                    <tr *ngFor="let result of results">
                        <td>{{result.customerName}}</td>
                        <td>{{result.totalCost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>