<div class="header-class">
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="padding: 0px;">
        <button type="button" mdbBtn color="link" (click)="route('/pricelist')">Прайс Лист</button>
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <button type="button" mdbBtn color="link" (click)="route('/events')">Мероприятия</button>
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <button type="button" mdbBtn color="link" (click)="route('/catalog')">Мои ресурсы</button>
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <button type="button" mdbBtn color="link" (click)="route('/requests')">Запросы</button>
      </div>
      <div class="col-md-2" [hidden]=true style="padding: 0px;">
        <button type="button" mdbBtn color="link">Вход</button>
      </div>
      <div class="col-md-2" [hidden]=true style="padding: 0px;">
        <button type="button" mdbBtn color="link">Регистрация</button>
      </div>
      <div class="col-md-2" [hidden]=false style="padding: 0px;">
        <div class="my-class1">Вы лохопедище</div>
      </div>
      <div class="col-md-2" [hidden]=false style="padding: 0px;">
        <button type="button" mdbBtn color="link">Выйти</button>
      </div>
    </div>
  </div>
</div>